[run]
source = .
omit =
    */tests/*
    *__init__*
    */__pycache__/*
    */migrations/*
    */settings/*
    */wsgi.py
    manage.py
    */asgi.py
    *venv/*
    *venv/bin/*
    *venv/include/*
    *venv/lib/*
    */site-packages/*
    constants.py
    filters.py
    settings.py
    */apps.py


[report]
show_missing = true
